body {
  font-family: 'Arial', sans-serif;
  background-color: #e6ffe8;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.home-container {
  max-width: 600px; /* Se aumenta el tamaño en pantallas grandes */
  margin: 0 auto;
  background-color: #e6ffe8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Encabezado */

.home-header {
  display: flex;
  justify-content: center; /* Centrar el contenido */
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #e6ffe8;
  position: relative; /* Se mantiene el menú en su lugar */
}

.menu-button {
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: #0b532e;
  
}

/* Contenido principal */
.home-main {
  text-align: center;
  flex-grow: 1;
  padding: 2rem;
  
}

/* Contenedor QR */
.qr-container video {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  object-fit: cover;
}

.scan-button {
  background-color: #3AA65A;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  width: 90%;
  max-width: 150px;
  text-align: center;
}

/* Instrucciones */
.instructions {
  
  text-align: left;
  max-width: 300px;
  margin: 0 auto;
  color: #3AA65A;
}

.instructions p {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.instructions p::before {
  content: "✅";
  margin-right: 0.5rem;
  color: #3AA65A;
  margin-bottom: 15px;
}

.botonRegresar {
  color: #0b532e;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  
}

.botonRegresar:hover {
  text-decoration: underline;
}

/* Ventana emergente */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal-content {
  background-color: #e6ffe8;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  width: 80%;
  max-width: 300px;
}

.modal-content button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.modal-content .allow-button {
  background-color: #3AA65A;
  color: white;
}

.modal-content .deny-button {
  background-color: #a33b3c;
  color: white;
}

/* Ventana emergente de éxito */
.success-popup {
  background-color: #c6ebc6;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.success-popup.popup-appear {
  animation: popup-appear 0.8s ease forwards;
}

@keyframes popup-appear {
  0% {
      opacity: 0;
      transform: translate(-50%, 30%);
  }
  100% {
      opacity: 1;
      transform: translate(-50%, -50%);
  }
}

/* Estilos del menú lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: -550px;
  width: 250px;
  height: 100%;
  background-color: #3AA65A;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: left 0.3s ease;
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

/* Ícono del usuario */
.user-icon {
  margin-bottom: 1rem;
  align-self: center;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* Ajuste del logo */

.logo-section {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 100%; /* Que ocupe todo el ancho disponible */
}

@media (max-width: 768px) {
  .logoSeccion {
      margin-right: 0;
      flex-direction: column;
      align-items: center;
  }
}

.logo {
  width: 130px;
  padding-top: 20px;
  margin: 0 auto; /* Asegura que el logo se mantenga centrado */
  display: block;
}

@media (max-width: 768px) {
  .logo {
    width: 100px; /* Reduce el tamaño en dispositivos móviles */
  }
}